.campo-busqueda {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.campo-busqueda:focus {
  border-color: #646cff;
  outline: none;
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}

.campo-busqueda:hover {
  border-color: #535bf2;
  box-shadow: 0 0 5px rgba(83, 91, 242, 0.5);
}

