.lista {
  width: 90%;
  margin: 5% auto;
  padding: 0 20px;
  max-height: 450px;
  min-height: 450px;   
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
}

.lista h2 {
  position: sticky;
  top: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
  background-color: rgba(255, 255, 255);
  padding: 5px;
  z-index: 1;
}

.lista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lista li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
}

.lista li:last-child {
  border-bottom: none;
}

.boton-añadir{
  padding: 10px 15px;
  margin: 5% 0 0 0;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cliente-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.cliente-item span {
  flex-grow: 1;
}

.boton-editar {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #ffc107; /* Amarillo */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton-editar:hover {
  background-color: #e0a800;
}
