/* Aseguramos que el contenedor raíz ocupe el 100% del alto de la pantalla */
#root {
  display: flex;
  flex-direction: column; /* Los elementos se apilan verticalmente */
  justify-content: space-between; /* Asegura que los elementos estén distribuidos */
  height: 100vh; /* Ocupa todo el alto de la ventana */
  margin: 0 auto;
  padding: 0 2rem; /* Ajusta el padding en los laterales */
  text-align: center;
  border: 5px solid #640fb3;
  border-radius: 12px;
  background-image: url('/src/assets/images/papel.avif');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Para el footer, que debe estar al final de la página sin moverse */
footer {
  padding: 1em;
  color: #858080;
  font-size: 0.8rem;
  margin-top: auto; /* Asegura que el footer se quede en el fondo */
}

.error {
  color: red;
  margin: 20%;
}
